html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background: #ffffff;
}
.header-container {
  /*height: ;*/
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: #0f0f0fde /*#44444470*/;
}

.offset::before {
  height: 137.8px;
  margin-top: -137.8px;
  content: "";
  display: block;
}
.bg-black {
  background: #0f0f0fde;
}

/*
   * Header
   */

.logo-brand,
.logo-brand h3,
.logo-brand p {
  margin-bottom: 0;
  text-align: center;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
}
.logo-brand img {
  width: 130px;
  height: 130px;
  margin: -7%;
}
.logo-brand h3 {
  color: #ffffff;
}
.brand-name {
  /*display: flex;
  flex-direction: column;
  align-content: center;
  display: flex;*/
  padding-top: 0;
  padding-left: 0;
}
.brand-name h3 {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  margin: 0;
  /*display: inline;*/
}
.brand-name p {
  color: #ffffff;
  margin: 0;
  /*display: inline;*/
}
.top-menu {
  font-family: oswald;
  font-size: 18px;
  text-transform: uppercase;
}

.top-menu .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.top-menu .nav-link:hover,
.top-menu .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.top-menu .nav-link + .nav-link {
  margin-left: 1rem;
}

.top-menu .active {
  color: #255;
  border-bottom-color: #255;
}

.logo-brand > img .resize {
  width: 80px;
  height: 80px;
}

/*
.shrink { ////option 2 js.main
.logo-brand > img.shrink {
  width: 80px;
  height: 80px;
}
*/

/************  SECTIONS *************/

main {
  overflow: hidden;
}
/********** About Section ***********/

.section-about {
  background: #ffffff; /*url(/img/chinese_dragon__grey.png) no-repeat */
  padding: ;
  padding-bottom: 100px;
}
.about-info {
  background: #d2966426; /* #c2b0a1*/
  padding: 20px 20px 0;
  margin-bottom: 15px;
}
.box-lead {
  border: 1px solid #ced4da;
  background: #fff;
  padding: 3rem;
  border-radius: 0.25rem;
}
/********** Classes Section ***********/
/*
.section-classes {
  background: #800000; /*#565247 , #225555a3*/
/*padding: 60px 0 100px 0;
  overflow: hidden;
}*/
/* Classes section red with dragon bg*/
.section-classes {
  background: #fff url(../img/chinese_dragon__black-big.jpg);
  overflow: hidden;
}

.red-bg {
  background: #420401de; /*maroon #340300f0 deep red #800000f0;*/
  padding: 20px 20px 180px;
}
.container-classes {
  max-width: 1260px; /*960px*/
  margin: 0 auto;
}
.card {
  border: none;
  border-radius: 0;
}
.card img {
  height: 400px; /*200px*/
  object-fit: cover;
}
.card-img-top {
  border-radius: 0;
}
.card-classes {
  margin: 10px 0;
}

/********** Bookings Section ***********/
.section-bookings {
  background: #225555a3; /*#255*/
  padding: 60px 0 60px 0;
  overflow: hidden;
}
.black-bg {
  background: #121212;
}
.jumbotron {
  background-color: ; /*#2d271f;  #121212*/
  border-radius: 0;
  margin-bottom: 0;
  padding: 150px 0;
}
.jumbotron-heading {
  color: #b1762b;
  font-family: "Oswald", sans-serif;
  line-height: 1.34em;
  font-size: 60px;
  margin-bottom: 2rem;
}
.jumbotron .black-bg .fa {
  color: #9b8787;
  font-size: 2.2rem;
  margin: 1.2rem 0.5rem 0 0;
}
.jumbotron .fa {
  color: #9b8787;
  /*
  font-size: 2.2rem;
  margin: 1.2rem 0.5rem 0 0;
  */
  font-size: 2.6rem;
  margin: 2.2rem 0rem 0 1rem; /*2.2rem 1rem 0 1rem;*/
  /*text-shadow: 0px 0px 5px #fff;*/
}
.fa-email {
  font-size: 2rem !important;
  margin: 0.5rem 1rem 0.5rem 0 !important;
  vertical-align: middle;
  color: white !important;
}
.jumbotron .fa-facebook-square {
  color: #1877f2;
}
.jumbotron .fa-twitter-square {
  color: #1da1f2;
}
.jumbotron .fa-instagram {
  color: #c32aa3;
}
.jumbotron .fa-youtube {
  color: #ff0000; /*25d366*/
}
.jumbotron .fa-whatsapp {
  color: #25d366;
}
.jumbotron .fa-facebook-square:hover {
  color: #1877f2ce;
}
.jumbotron .fa-twitter-square:hover {
  color: #1da1f2ce;
}
.jumbotron .fa-instagram:hover {
  color: #c32aa3ce;
}
.jumbotron .fa-youtube:hover {
  color: #ff0000ce; /*25d366*/
}
.jumbotron .fa-whatsapp:hover {
  color: #25d366ce;
}
.jumbotron .fa:hover {
  color: ; /*#df4040; yellow #ffc107*/
}

/********** Feedback Section ***********/
.section-feedback {
  background: #ffffff url(../img/chinese_dragon__black-big.jpg) no-repeat right;
  /*padding: 130px 0 130px 0;
  transform:;*/
  overflow: hidden;
}

.feedback {
  background: #420401de 0; /*#340300f , #800000f0 */
  padding: 50px;
  color: #e1e1e1;
  padding: 80px 0 110px 0;
}

/******* Contact section **********/

.section-maps {
  background: #e1e1e1; /*#225555a3*/ /*#565247*/
  padding: 60px 0 25px 0;
}
.container-maps {
  width: 98%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.maps-block {
  padding: 20px;
  /*height: 673px;*/
  background: #b31e1e;
}
.maps-block-inner > img {
  min-height: 800px;
  object-fit: cover;
}

.section-maps-2 {
  background: #ffffff; /* #e1e1e1*/
  padding: 60px 20px 80px;
}

/*
  =====================================
  CSS for <iframe> embedded Google Map
  =====================================
*/
.map-wrapper {
  position: relative;
  /*
    Do math with the height of your iframe divided by the width, then converted to percent
    In this example the height is 400 and the width is 600
    400 / 600 = .66666667
    which is 66.6666667% */

  /* I'm choosing 79% to match the height to the right div */
  padding-bottom: 79.4%;
  height: 0;
  /*border: 1px solid #800000;*/
  margin-bottom: 20px;
}
.map-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* This sets an overlay element that covers the map and helps prevent people from zooming the map while scrolling. */
.overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/**********Form ***********/

.form-block {
  background: #ffffff; /* #e1e1e1*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-inner {
  padding: 0 10%; /*50px*/
}
.contact-form {
  margin: 0;
}

.back-to-top {
  width: 150px;
  height: 40px;
  position: fixed;
  right: 30px;
  bottom: 0px;
}
.back-to-top img {
  width: 150px;
  height: 50px;
  position: fixed;
  right: 10px;
  bottom: 0px;
}
.card-grey {
  background-color: #e1e1e1;
}
.address-card {
  background: #fff;
  padding: 20px 0 0;
  margin-bottom: 45px;
  border: 1px solid gray;
  border-radius: 0.25rem;
}

/********* Footer *********/

.section-footer {
  background: #121212; /*#0f0f0fde*/ /*#255*/
  padding: 60px 0 20px 0;
}
.section-footer p {
  color: #ffffff;
  font-size: 1.1rem;
}
.section-footer a {
  color: #df4040;
}
footer .fa {
  color: #9b8787;
  font-size: 2.2rem;
  margin: 1.2rem 0.5rem 0 0;
}
footer .fa:hover {
  color: #df4040;
}
/*.section-footer a:hover {
  color: ;
}*/
hr.socket {
  border-top: 0.2rem solid #000000;
  width: 100%;
}

/******* Buttons ********/
.btn {
  border-radius: 0;
}
.btn-lg {
  border-radius: 0;
}
.btn-danger {
  background-color: #255;
  border-color: #255;
  color: #fff; /*#800*/
  font-weight: 500;
}
.btn-danger:hover {
  background-color: #800000aa;
  border-color: #800000;
}
.red-btn {
  padding: 10px 40px;
}
.red-btn:hover {
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 40px;
  height: 40px;
}

/********* Text ********/

.red-text {
  color: #800000;
}
.light-red-text {
  color: #b03229;
}
.white-text {
  color: #ffffff;
}
.carousel-h1 {
  font-size: 6.5rem;
  font-weight: 600;
  font-family: oswald;
}
.section-header {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 70px;
  text-transform: uppercase;
  font-weight: 600;
}
.font_5 {
  font-family: "Oswald", sans-serif;
  line-height: 1.34em;
}
h2.contact-heading {
  font-size: 1.3rem;
  padding-bottom: 20px;
}
.lead {
  font-size: 1.3rem;
}

/******** Media queries **********/

@media (min-width: 1200px /*48em*/) {
  .logo-brand {
    float: left;
  }
  .top-menu {
    float: right;
  }
  .carousel-item > img.tablet-hero-img {
    display: none;
  }
  .carousel-item > img.mobile-hero-img {
    display: none;
  }
}
@media (max-width: 1399px) {
  /*.carousel-caption {
  }*/
  .carousel-h1 {
    font-size: 5.5rem;
  }
}
@media (max-width: 1199px) {
  .brand-name {
    text-align: center;
    padding-top: 0;
    padding-right: 30px;
  }
  .top-menu {
    float: none;
    margin-top: 0;
    margin-right: 0;
  }
  .carousel-item > img {
    /*width: 100%;*/
    margin-top: 98px;
    height: 100%;
  }
  .carousel-h1 {
    font-size: 4.5rem;
  }
  .map-wrapper {
    margin: 20px 15%;
  }
  .back-to-top img {
    width: 100px;
  }
  .back-to-top {
    display: none;
  }
}
@media (max-width: 991px) {
  .logo-brand img {
    width: 90px;
    height: 90px;
    margin: -9px;
  }
  .brand-name h3 {
    font-size: 1.4rem;
  }
  .top-menu {
    font-size: 17px;
    padding: 10px 0 0;
  }
  .carousel-h1 {
    font-size: 3.5rem;
  }
  .marketing .col-lg-4 {
    padding: 0 25%; /* Previous 0 20% */
  }
  .map-wrapper {
    margin: 20px 5%;
  }
  .back-to-top img {
    width: 50px;
  }
  .offset::before {
    height: 98px;
    margin-top: -98px;
    content: "";
    display: block;
  }
}

@media (min-width: 452px) {
  .carousel-item > img.mobile-hero-img {
    display: none;
  }
  .carousel-item > img.second-hero-img {
    margin-top: 100px;
  }
}
@media (min-width: 1650px) {
  .carousel-item > img {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .carousel-item > img.tablet-hero-img {
    display: none;
  }
}
@media (max-width: 767px) {
  .carousel-caption p {
    font-size: 1rem;
  }
  .brand-name {
    max-width: 65%;
  }
  .brand-name p {
    font-size: 14px;
    line-height: normal;
    margin-top: 2px;
  }
  .section-classes {
    padding-bottom: 0;
  }
  .carousel-caption {
    left: 20%;
  }
  .main-hero-img {
    display: none;
  }
  .carousel-item > img.dragon-hero-img-bg {
    display: none;
  }
  .jumbotron-heading {
    font-size: 44px;
  }
  .map-wrapper {
    margin: 20px 0;
    border: none;
  }
  .section-maps-2 .row .col-xl-6 {
    padding: 20px 0;
  }
}
@media (max-width: 451px) {
  .carousel-item > img {
    margin-top: 82px;
  }
  .carousel-caption {
    left: 15%;
    bottom: 21%;
  }
  .carousel-h1 {
    font-size: 2.5rem;
  }
  .logo-brand img {
    width: 75px;
    height: 75px;
  }
  .brand-name {
    max-width: 45%;
    padding-right: 0px;
  }
  .brand-name p {
    display: none;
  }
  .offset::before {
    height: 83px;
    margin-top: -83px;
    content: "";
    display: block;
  }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
